/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
color: white;
font-size: 18px;
background-color: black;
font-family: 'Roboto Serif', serif;
/*background-image: url(../assets/backgroundwall.jpg)*/
}

@font-face {
     font-family: Monoton;
     src: url(../fonts/Monoton-Regular.ttf);
 }

 @font-face{
      font-family: latenight;
      src: url(../fonts/Neoneon.otf);
 }


/******************************************
/* LAYOUT
/*******************************************/


header {
     display: flex;
     justify-content: center;
     width: 100%;
}

header > h1 {
     padding-left: 30px;
     padding-right: 30px;
}

header > ul{
     padding: 0;
}


h1, h2 {
     text-align: center;
     font-weight: 400;
   }

h1 {
     font-size: 6.2rem;
 
}

.topnavbar {
     display: flex;
     font-family: Monoton;
     font-size: 2.4rem;
     text-align: center;
     width: 33%;
     justify-content: center; 
     
}



h1.topnavbar{
     font-size: 4rem;
     font-family: "Sacramento", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center; 
}
main {
     padding-top: 50px;
     display: flex;
     width: 100%;
     justify-content: center;
}

main > p  {
     width: 50%;
     font-size: 1.8rem;
     margin-left: 30px;
     position: relative;
     right: 100px;

}
main > img {
     position: relative;
     width: 50%;
     height: auto; 
     width: auto; 
     max-width: 300px; 
     max-height: 300px;
     right: 100px
}
.threeColumn{
     display: flex;
     width: 100%;
     justify-content: center;
}
.threeColumn > section {
     display: flex;
     width: 33.3333%;
     justify-content: center;
     flex-direction: column;
}
.threeColumn > section > img {
     height: auto; 
     width: auto; 
     max-width: 300px; 
     max-height: 300px;

}
.threeColumn > section > * {
     justify-content: center;
     text-align: center;
}


.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.neonText1 {
     color: #fff;
     text-shadow:
     0 0 7px #fff,
     0 0 10px #fff,
     0 0 21px #fff,
     0 0 42px #0fa,
     0 0 82px #0fa,
     0 0 92px #0fa,
     0 0 102px #0fa,
     0 0 151px #0fa;
}

.neonText2{
     color: #fff;
     text-shadow:
     0 0 7px #B026FF,
     0 0 10px #B026FF,
     0 0 21px #B026FF,
     0 0 42px #B026FF,
     0 0 82px #B026FF,
     0 0 92px #B026FF,
     0 0 102px #B026FF,
     0 0 151px #B026FF;

}

li{
list-style-type: none;
}



 .neonBorder {
     border: 0.2rem solid #fff;
     border-radius: 2rem;
     padding: 0.4em;
     box-shadow: 0 0 .2rem #fff,
               0 0 .2rem #fff,
               0 0 2rem #bc13fe,
               0 0 0.8rem #bc13fe,
               0 0 2.8rem #bc13fe,
               inset 0 0 1.3rem #bc13fe; 
}


